<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <a href='/'>Index</a>
            <a href='/properties'>Properties</a>
            <a href='/agents'>Agents</a>
            <a href='/buyers'>Potential Buyers</a>
            <a href='/sellers'>Sellers</a>
            <a href='/buy-prop'>Properties has Potential Buyers</a>
        </ul>
    </nav>
    {{{body}}}

</body>
</html>