<h1>PNW Real Estate DB Index Page</h1>

<nav>
    <ul>
        <li><a href='/'>Index</a></li>
        <li><a href='/properties'>Properties</a></li>
        <li><a href='/agents'>Agents</a></li>
        <li><a href='/buyers'>Potential Buyers</a></li>
        <li><a href='/sellers'>Sellers</a></li>
        <li><a href='/buy-prop'>Properties has Potenial Buyers</a></li>
    </ul>
</nav>

